@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1652522216641') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yinle:before {
  content: "\e625";
}

.icon-liebiao:before {
  content: "\e62d";
}

.icon-zhuanji:before {
  content: "\e60a";
}

.icon-kehu:before {
  content: "\e614";
}

